@model FrontEnd.Models.Questions

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Questions</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Option4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Option4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>

        @Html.HiddenFor(model => model.TestId)

    </dl>

    @using (Html.BeginForm("DeleteQuestionspost","Admin")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
