@*model IEnumerable<FrontEnd.Models.Questions>*@
@{ ViewBag.Title = "GetAllQuestions"; }

<h2> All Questions </h2>

@*@foreach (var item in Model)
{
<ul style="color:firebrick;">
    <li>@item.Id</li>
    <li>@item.Description</li>
    <li>@item.Option 1</li>
    <li>@item.Option 2</li>
    <li>@item.Option 3</li>
    <li>@item.Option 4</li>
    <li>@item.Answer</li>
    <li>@item.DifficultyLevel</li>
    <li>@item.TestId</li>

</ul>}*@
