@*model IEnumerable<FrontEnd.Models.Tests>*@
    @{ ViewBag.Title = "GetAllTopics"; }

    <h2>Get All Topics</h2>

    @*@foreach (var item in Model)
    {
                 <ul style="color:firebrick;">
                     <li>@item.TestId</li>
                     <li>@item.Name</li>
                     <li>@item.Description</li>
                     <li>@item.TotalNoOfEasyQuestions</li>
                     <li>@item.TotalNoOfMediumQuestions</li>
                     <li>@item.TotalNoOfHardQuestions</li>
                     <li>@item.TotalNoOfQuestions</li>
                     <li>@item.Duration</li>

                 </ul>            }*@
