<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dash</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=grid_view" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu_book" />

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel="stylesheet" href="~/CSS/style.css">

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>


    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="~/Images/Image.jpg">
                    <h2>HACK<span class="danger">FLOW</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span><i class="fi fi-br-cross"></i></span>
                </div>
            </div>
            <div class="sidebar">
                <a href="#dashboard" class="active">
                    <span><i class="fi fi-rr-home"></i></span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#profile">
                    <span><i class="fi fi-ss-user"></i></span>
                    <h3>Profile</h3>
                </a>
                <a href="#courses">
                    <span><i class="fi fi-rr-books"></i></span>
                    <h3>Courses</h3>
                </a>
                <a href="@Url.Action("StudentReportsuser", "UserDashBoard")">
                    <span><i class="fi fi-rs-trophy-star"></i></span>
                    <h3>Result</h3>
                </a>
                @*<a href="#">
                    <span><i class="fi fi-rs-chart-histogram"></i></span>
                    <h3>Analytics</h3>
                </a>*@
                <a href="@Url.Action("Login", "User")">
                    <i class="fi fi-rr-sign-out-alt"></i>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>Welcome</h1>

            <div class="date">
                <input type="date">
            </div>
            

            <div class="cards" id="courses">
                <div class="car">
                    <img src="~/Images/code3.png">
                    <a href="@Url.Action("Levels", "UserDashBoard")">
                        Click
                    </a>
                    <div class="text">
                        <h2>JAVA</h2>
                    </div>
                </div>
                <div class="car">

                    <img src="~/Images/code5.png">
                    <a href="@Url.Action("Levels", "UserDashBoard")">
                        Click
                    </a>
                    <div class="text">
                        <h2>PYTHON</h2>
                    </div>
                </div>
                <div class="car">

                    <img src="~/Images/code2.png">
                    <a href="@Url.Action("Levels", "UserDashBoard")">
                        Click
                    </a>
                    <div class="text">
                        <h2>C#</h2>
                    </div>
                </div>
            </div>


            <!------------------------------------------------------------------------------------------  -->

            <div class="scroll" style="--t:20s">
                <div>
                    <span>Html</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Angular</span>
                    <span>Csharp</span>
                    <span>C++</span>
                    <span>C</span>
                    <span>Java</span>
                    <span>Python</span>
                    <span>NextJS</span>
                    <span>Web3</span>
                    <span>Machine Learning</span>
                </div>
                <div>
                    <span>Html</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Angular</span>
                    <span>Csharp</span>
                    <span>C++</span>
                    <span>C</span>
                    <span>Java</span>
                    <span>Python</span>
                    <span>NextJS</span>
                    <span>Web3</span>
                    <span>Machine Learning</span>
                </div>

            </div>
            <div class="scroll" style="--t:30s">
                <div>
                    <span>Html</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Angular</span>
                    <span>Csharp</span>
                    <span>C++</span>
                    <span>C</span>
                    <span>Java</span>
                    <span>Python</span>
                    <span>NextJS</span>
                    <span>Web3</span>
                    <span>Machine Learning</span>
                </div>
                <div>
                    <span>Html</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Angular</span>
                    <span>Csharp</span>
                    <span>C++</span>
                    <span>C</span>
                    <span>Java</span>
                    <span>Python</span>
                    <span>NextJS</span>
                    <span>Web3</span>
                    <span>Machine Learning</span>
                </div>
            </div>


            <!-- ------------------------------------------------------------------------------------------------------ -->
            <div class="cards">
                <div class="car">
                    <img src="~/Images/code3.png">
                    <a href="@Url.Action("Levels", "UserDashBoard")">
                        Click
                    </a>
                    <div class="text">
                        <h2>SQL</h2>
                    </div>
                </div>
                <div class="car">
                    <img src="~/Images/code5.png">
                    <a href="@Url.Action("Levels", "UserDashBoard")">
                        Click
                    </a>
                    <div class="text">
                        <h2>HTML</h2>
                    </div>
                </div>
                <div class="car">
                    <img src="~/Images/code2.png">
                    <a href="@Url.Action("Levels", "UserDashBoard")">
                        Click
                    </a>
                    <div class="text">
                        <h2>CSS</h2>
                    </div>
                </div>
            </div>


        </main>

        <!-- ================================================================================ -->

        <div class="right" id="profile">
            <div class="top">
                <button id="menu-btn">
                    <i class="ri-menu-line"></i>
                </button>
                <div class="theme-toggle">
                    <i class="fi fi-rr-brightness active"></i>
                    <i class="fi fi-bs-moon"></i>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey,<b> Mohith </b></p>
                        <small class="text-muted">User</small>
                    </div>
                    <div class="profile-photo">
                        <img src="~/Images/profile.jpg">
                    </div>
                </div>
            </div>
            <!-- ========================================================================================================================= -->
            <div class="recent-updates">
                <h2>Achivements</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/Images/Image (10).jpg">
                        </div>
                        <div class="message">
                            <p>
                                <b>Harvey Specter</b> Tech Giant Google Snaps up Top Talent
                                from "Hack Flow" User
                            </p>
                            <small>2 Weeks ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/Images/Image (9).jpg">
                        </div>
                        <div class="message">
                            <p><b>Rachel Zane</b> Tech Prodigy Wins Prestigious Hackathon with Groundreaking Innovation</p>
                            <small>1 Month ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="~/Images/Image (8).jpg">
                        </div>
                        <div class="message">
                            <p><b>Jessica Pearson</b> Recent Graduate Lands Dream Job with Global Corporation</p>
                            <small>2 Months ago</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sales-analytics">
                <h2>Companies</h2>
                <div class="item-online">
                    <div class="icon">
                        <i class="fi fi-brands-google"></i>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>GOOGLE</h3>
                            <small class="text-muted">Hiring</small>
                        </div>
                        <h5 class="success">538</h5>
                        <h3>3849</h3>
                    </div>
                </div>
                <div class="item-online">
                    <div class="icon">
                        <i class="fi fi-brands-meta"></i>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>META</h3>
                            <small class="text-muted">Hiring</small>
                        </div>
                        <h5 class="success">734</h5>
                        <h3>3849</h3>
                    </div>
                </div>
                <div class="item-online">
                    <div class="icon">
                        <i class="fi fi-brands-microsoft"></i>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>MICROSOFT</h3>
                            <small class="text-muted">Hiring</small>
                        </div>
                        <h5 class="success">436</h5>
                        <h3>3849</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/JavaScript/index.js"></script>
</body>
</html>
