@model List<FrontEnd.Models.StudentReport>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TestDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].CorrectAttemptsInEasyQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalAttemptsInEasyQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalNoOfEasyQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].CorrectAttemptsInMediumQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalAttemptsInMediumQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalNoOfMediumQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].CorrectAttemptsInHardQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalAttemptsInHardQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalNoOfHardQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAttemptsInEasyQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAttemptsInEasyQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNoOfEasyQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAttemptsInMediumQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAttemptsInMediumQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNoOfMediumQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAttemptsInHardQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAttemptsInHardQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNoOfHardQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back To Dashboard", "Index")
</p>
