@model IEnumerable<FrontEnd.Models.ReportsData>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAttemptsInEasyQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAttemptsInEasyQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNoOfEasyQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAttemptsInMediumQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAttemptsInMediumQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNoOfMediumQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAttemptsInHardQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAttemptsInHardQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNoOfHardQuestions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAttemptsInEasyQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAttemptsInEasyQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNoOfEasyQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAttemptsInMediumQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAttemptsInMediumQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNoOfMediumQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAttemptsInHardQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAttemptsInHardQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNoOfHardQuestions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
